name: "nuget"
on:
  workflow_dispatch:

permissions:
  # This is required for requesting the OIDC token
  id-token: write
  # This is required for actions/checkout
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: https://${{ vars.JF_URL }}/
        with:
          oidc-provider-name: hs-gh

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x' # Use your required version

      - name: Pull Single Package
        run: |
              # Use 'jf dotnet' instead of 'jf nuget' to avoid the Mono requirement.
              # This command adds the package to a temporary 'dummy' project 
              # which effectively pulls it from Artifactory.
              dotnet new console -n temp-pull
              cd temp-pull
              jf dotnet-config --repo-resolve=hs-nuget-remo
              jf dotnet add package Newtonsoft.Json
            
