name: "nuget"
on:
  workflow_dispatch:

permissions:
  # This is required for requesting the OIDC token
  id-token: write
  # This is required for actions/checkout
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: https://${{ vars.JF_URL }}/
        with:
          oidc-provider-name: hs-gh

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x' # Use your required version

      - name: Configure and Restore NuGet
        run: |
          
          jf nuget-config --repo-resolve=hs-nuget-remo
          jf nuget install Newtonsoft.Json -Source hs-nuget-rem
